.board{
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 24px;
    width: 100%;
    padding:32px;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    /* kareem height  */
    /* height: 100vh; */

    /* yousef edit */
    height: 100%;
}
.div {
    background-color: #070b2e;
    border-radius: 24px;
}
.listGroup{
    background-color: rgba(0, 0, 0,0.2);
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.listGroup h3{
    align-self: flex-start;
    color:#95accb;
    margin:0;
    margin-bottom: 5px;
}

.dashed{
    border-radius: 12px;
    border-style: rgba(0, 0, 0, 0.451) dashed;
    width: 100%;
}
.dragging {
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}
.smoothDnd {
    transition: transform 0.02s ease-in-out;
}
  