/* .textInput {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 12px;
    background-color: #22233c;
    color: #fff;
    width: 320px;
    height: 48px;
    font-size: 14px;
}

.crossParent {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.mycross {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
} */


/* .textInput {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 12px;
    background-color: #22233c;
    color: #fff;
    width: 320px;
    height: 48px;
    font-size: 14px;
}

.crossParent {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.mycross {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none; 
}

Show the cross icon when there is text in the input
.visible {
    display: block;
} */


.textInput {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 12px;
    background-color: #22233c;
    color: #fff;
    width: 320px;
    height: 48px;
    font-size: 14px;
    border: none;
    outline: none;
}

.searchInput{
    box-sizing: border-box;
    /* padding: 16px; */
    padding-left: 35px;
    border-radius: 12px;
    background-color: #22233c;
    color: #fff;
    width: 320px;
    height: 40px;
    /* margin-top: 30px; */
    font-size: 14px;
    border: none;
    outline: none;
}

.searchIcon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
    /* background: linear-gradient(300.6deg, #6F3BF4 6.24%, #1D36F8 31.09%, #5D49DD 56.26%, #0E073E 74.67%, #0E0656 100%), #010009; */
}


.crossParent {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 48px;
    margin-top: 5px;
}

.mycross {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.mycross:hover {
    opacity: 0.8;
}

