
/* add horizontal line under the .titleContainer make sure it display in new line */
.titleContainer:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #282a3d;
    margin: 4px 0;
}

.tasksContainer::-webkit-scrollbar {
    display: none;
}

.titleContainer::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #282a3d;
    margin: 8px 0;
}