.badge{
    padding: 2px 8px;
    border-radius: 6px;
    margin-left: 5px;
    color: #fff;
}
.low {
    background-color: #13c2c2;
}

.medium {
    background-color: #d4b106;
}

.high {
    background-color: #fa541c;
}