.card {
    background-color: #070b2e;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 260px;
    height: 137px;
}

.title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.date {
    color: white;
}

.id {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
    background-color: #172473;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}